services:

  db:
    image: mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: tracker_db
      MYSQL_USER: test
      MYSQL_PASSWORD: test
